# osx noise
.DS_Store
profile

# xcode noise
build/*
*.mode1
*.mode1v3
*.mode2v3
*.perspective
*.perspectivev3
*.pbxuser
*.xcworkspace
xcuserdata

# svn & cvs
.svn
CVS
KSPC-Driver-cross-*
KSPC-Driver.version
.vs/KSPC-Driver/xs/sqlite3/storage.ide
.vs/KSPC-Driver/xs/sqlite3/storage.ide-wal
KSPC-Driver/bin/
KSPC-Driver/obj/
KSPC-Driver/bin/Debug/Assembly-CSharp-firstpass.dll
KSPC-Driver/bin/Debug/Boo.Lang.dll
KSPC-Driver/bin/Debug/Ionic.Zip.dll
KSPC-Driver/bin/Debug/KSPAssets.dll
KSPC-Driver/bin/Debug/KSPC-Driver.dll
KSPC-Driver/bin/Debug/KSPTrackIR.dll
KSPC-Driver/bin/Debug/Mono.Cecil.dll
KSPC-Driver/bin/Debug/UnityScript.Lang.dll
KSPC-Driver/obj/Debug/KSPC-Driver.csproj.FileListAbsolute.txt
KSPC-Driver/obj/Debug/KSPC-Driver.csprojAssemblyReference.cache
KSPC-Driver/obj/Debug/KSPC-Driver.dll
