<?xml version="1.0" encoding="utf-8"?>
<config>
  <string name="DefaultPort">/dev/cu.usbmodem141101</string>
  <int name="BaudRate">57600</int>
  <int name="ThrottleEnable">1</int>
  <int name="PitchEnable">1</int>
  <int name="RollEnable">1</int>
  <int name="YawEnable">1</int>
  <int name="TXEnable">1</int>
  <int name="TYEnable">1</int>
  <int name="TZEnable">1</int>
  <int name="WheelSteerEnable">1</int>
  <int name="WheelThrottleEnable">1</int>
  <double name="SASTol">0.1</double>
</config>
