<?xml version="1.0" encoding="utf-8"?>
<config>
  <string name="DefaultPort">/dev/cu.usbmodem141101</string>
  <int name="BaudRate">57600</int>
  <bool name="ThrottleEnable">true</bool>
  <bool name="PitchEnable">true</bool>
  <bool name="RollEnable">true</bool>
  <bool name="YawEnable">true</bool>
  <bool name="TXEnable">true</bool>
  <bool name="TYEnable">true</bool>
  <bool name="TZEnable">true</bool>
  <bool name="WheelSteerEnable">true</bool>
  <bool name="WheelThrottleEnable">true</bool>
  <double name="SASTol">0.1</double>
</config>
